







.closeteria-icon{
	margin-left:-150px;
}

.buscador{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #9B9B9B;
	border-radius: 3px;
	opacity: 1;
}



























