@font-face{
  font-family: nunitoRegular;
  src: url(../Nunito/Nunito-Regular.ttf);
}

@font-face{
  font-family: nunitoBold;
  src: url(../Nunito/Nunito-Bold.ttf);
}

@font-face{
  font-family: nunitoBlack;
  src: url(../Nunito/Nunito-Black.ttf);
}


.s-href:hover{
  text-decoration: none;
  
}